.skillsPage {
    .rightside {
        flex: 2;
        h2 {
            color: var(--white);
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 10px;
            text-align: left;
        }
        .skills {
            display: flex;
            align-items: stretch;
            flex-direction: column;
            margin-bottom: 20px;
            &__el {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0;
                &_name {
                    width: 85%;
                    color: var(--black);
                    padding: 20px;
                    border-radius: 10px;
                    position: relative;
                    h3 {
                        position: relative;
                        z-index: 1;
                        color: var(--black);
                        font-weight: 600;
                    }
                    &::before {
                        z-index: 0;
                        content: "";
                        display: block;
                        height: 100%;
                        background-color: var(--yellow);
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: 10px;
                    }
                    &::after {
                        z-index: -1;
                        content: "";
                        display: block;
                        height: 10px;
                        width: 100%;
                        background-color: var(--light-gray);
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        border-radius: 5px;
                    }
                    &_70::before {
                        width: 70%;
                    }
                    &_80::before {
                        width: 80%;
                    }
                    &_90::before {
                        width: 90%;
                    }
                    &_60::before {
                        width: 60%;
                    }
                    &_50::before {
                        width: 50%;
                    }
                }
                &_prct {
                    color: var(--white);
                    font-size: 30px;
                    font-weight: 700;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .skillsPage {
        .rightside {
            width: 100%;
            h2 {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .skills {
                margin-bottom: 20px;
                align-items: stretch;
                &__el {
                    width: 100%;
                    margin: 5px 0;
                    &_name {
                        width: 85%;
                        padding: 10px;
                    }
                    &_prct {
                        font-size: 25px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
