.out {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: -1;
}

.bg {
    background: url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
    opacity: 0.05;
    inset: -200%;
    z-index: -1;
    width: 400%;
    height: 400%;
    position: absolute;
}

.bgImg {
    background-image: url("./../../../public/pxfuel.jpg");
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    opacity: 0.05;
    image-rendering: optimizeQuality;
}
