:root {
    --gray: #a6a6a6;
    --light-gray: #a6a6a667;
    --white: #ececec;
    --black: #0a0f0e;
    --light-black: #0a0f0e81;
    --yellow: #c8e600;
    --light-yellow: #c7e60077;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}
a,
button {
    cursor: url("../public/cursors/click.png"), pointer;
}

body {
    background-color: var(--black);
    position: relative;
    cursor: url("../public/cursors/cursor.png"), default;
}

.container {
    width: 100%;
    padding: 15px 10%;
}
.page {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 10%;
    .leftside {
        position: relative;
        width: 20vw;
        .lvl {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: sticky;
            top: 20px;
            &__num {
                font-size: 120px;
                letter-spacing: 5px;
                color: var(--yellow);
                font-family: "Michroma", sans-serif;
                height: 65px;
                line-height: 90px;
                font-weight: 400;
                overflow: hidden;
            }
            &__name {
                font-size: 40px;
                letter-spacing: 2px;
                font-weight: 300;
                color: var(--white);
            }
        }
    }
}
