:root {
    --gray: #a6a6a6;
    --light-gray: #a6a6a667;
    --white: #ececec;
    --black: #0a0f0e;
    --light-black: #0a0f0e81;
    --dark: #0e1312;
    --yellow: #c8e600;
    --light-yellow: #c7e60077;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}
a,
button {
    cursor: url("../public/cursors/click.png"), pointer;
}

body {
    background-color: var(--black);
    position: relative;
    cursor: url("../public/cursors/cursor.png"), default;
}

.container {
    width: 100%;
    padding: 15px 100px;
}
.page {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 100px;
    width: 100%;
    .leftside {
        position: relative;
        margin-right: 10px;
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        .lvl {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: sticky;
            top: 20px;
            &__num {
                font-size: 120px;
                letter-spacing: 5px;
                color: var(--yellow);
                font-family: "Michroma", sans-serif;
                height: 65px;
                line-height: 90px;
                font-weight: 400;
                overflow: hidden;
            }
            &__name {
                font-size: 40px;
                letter-spacing: 2px;
                font-weight: 300;
                color: var(--white);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mobile {
        display: none;
    }
    .container {
        width: 100%;
        padding: 15px 80px;
    }
    .page {
        padding: 40px 80px;
        flex-direction: column;
        .leftside {
            margin: 0;
            .lvl {
                margin-bottom: 25px;
                &__num {
                    font-size: 100px;
                    height: 60px;
                    line-height: 80px;
                }
                &__name {
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .container {
        width: 100%;
        padding: 15px 40px;
    }
    .page {
        padding: 60px 40px;
        flex-direction: column;
    }
}
